<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <img src="/assets/beer.gif" />
      <%- body %>

      <footer>
        Sound Effect from
        <a
          href="https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=14601"
          >Pixabay</a
        >
        | GIF from <a href="https://giphy.com/carmelacaldart">carmelacaldart</a>
      </footer>
    </div>
  </body>
</html>
